---
import SinglePage from "../layouts/SinglePage.astro";
import Base from "../layouts/Base.astro";
import { fetchSinglePost } from "../api/singlePost";
import {getSinglePost} from "../graphql/query.js";

const { slug } = Astro.params;

const post = await getSinglePost(slug).then((e) => e.blog)
 
---
{post ? (
  <Base title={post.title}>
    <SinglePage post={post} />
  </Base>
) : (<p>Loading...</p>)}